---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Preserving books of arcane knowledge on the markets, mechanics, and history of OSRS."
	pubDate={new Date('May 04, 2026')}
>
	<p>
		Preserving books of arcane knowledge on the markets, mechanics, and history of OSRS.
	</p>
</Layout>
